$primary-color: #3498db;
$secondary-color: grey;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  background-color: $secondary-color;
  padding: 1rem;

  .header_title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
  }

  .header_nav {
    display: flex;
    gap: 1rem;
  }

  .nav_link {
    text-decoration: none;
    color: black;
  }
}

.main {
  padding: 1rem;
}

.btn {
  background-color: bisque;
  border: solid 2px black;
  border-radius: 5px;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 80px;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
  }
}
