$primary-color: #3498db;
$secondary-color: grey;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $primary-color;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 50px;
    text-transform: uppercase;
  }
  nav {
    display: block;
    a {
      gap: 40px;
      list-style: none;
    }
  }
}

.btn {
  background-color: bisque;
  border: solid 2px black;
  border-radius: 5px;
}
