$primary-color: #3498db;
$secondary-color: grey;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  background-color: grey;
  padding: 3rem;
  border: solid 2px;
  border-radius: 5px;

  .header_title {
    font-size: 4rem;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 1rem;
  }

  .header_nav {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    text-decoration: none;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 2rem;
  }

  .nav_link {
    text-decoration: none;
    color: black;
  }
}

.main {
  padding: 1rem;

  h2 {
    text-align: center;
  }
}

.btn {
  background-color: bisque;
  border: solid 2px black;
  border-radius: 5px;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  width: 90%;
  max-width: 1200px;
  margin: 25px auto;
  padding: 20px;
  justify-items: stretch;
  align-items: stretch;

  .card {
    display: flex;
    flex-direction: column;
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    padding: 1rem;
    background-color: grey;
  }

  img {
    width: 100%;
    height: 88%;
    padding: 30px;
  }
}

.producto {
  display: flex;
  width: 400px;
  margin: 25px auto;
  padding: 1rem;
  flex-direction: column;

  .card_producto {
    display: flex;
    flex-direction: column;
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 1rem;
    background-color: grey;

    p {
      font-weight: bold;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      font-size: 20px;
      text-align: center;
    }
  }
  img {
    width: 100%;
    height: 88%;
    padding: 30px;
  }
}

.footer {
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  background-color: #222;
  color: #fff;
  font-size: 0.9rem;
  margin-top: 3rem;
}
